@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.maincontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif !important;
}


#currentSubjects {
    position: relative;
    padding: 15px;
    min-height: 200px;
}

* {
    transition: all 0.3s ease-out;
}

.gocorner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
}

.goarrow {
    margin-top: -4px;
    margin-right: -2px;
    color: white;
    font-family: courier, sans;
}

.subjectCards {
    display: block;
    top: 0px;
    position: relative;
    /* max-width: 262px; */
    min-height: 150px;
    text-decoration: none;
    overflow: hidden;
    padding: 20px 0;
    margin:10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.subjectCards .gocorner {
    background-color: #00838d;
    height: 100%;
    width: 27px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(12deg);
    margin-right: -40px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.subjectCards .goarrow {
    transform: skew(-6deg);
    margin-left: 2px;
    margin-top: 9px;
    opacity: 0;
}

.subjectCards:hover {
    border: 1px solid #cd3d73;
}

.subjectCards h3 {
    margin-top: 8px;
}

.subjectCards:hover .gocorner {
    margin-right: -10px;
}

.subjectCards:hover .goarrow {
    opacity: 1;
}