.home-hero h1{
     font-size: 3rem;
     font-weight: 700;
}

#college-img{
     height: auto;
     width: 100%;
     margin: 0 auto;
     display: block;
     margin-bottom: 0px;
}

.get-started-btn{
     font-size: 2rem;
     border-radius: 60px;
     padding: 10px 30px 10px;
     margin: 0 auto;
     transition: .5s all 0s;
}

.get-started-btn:hover{
     transform: scale(1.1);
     color: white;
     background-color: #4BB543;
     border: none; 
}

 